LesTaxinomes.xcworkspace/xcuserdata/pierreloup_perso.xcuserdatad/WorkspaceSettings.xcsettings
LesTaxinomes.xcworkspace/xcuserdata/pierreloup_perso.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
LesTaxinomes.xcworkspace/xcuserdata/pierreloup_perso.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-AFNetworking.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-AGMedallionView.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-EGOCache.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-EGOImageLoading.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-EGOPhotoViewer.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-MagicalRecord.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-NSData+Base64.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-PonyDebugger.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-Reachability.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-SVProgressHUD.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-SocketRocket.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-UIKitCategoryAdditions.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods-xmlrpc.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/Pods.xcscheme
Pods/Pods.xcodeproj/xcuserdata/pierre-louptristantperso.xcuserdatad/xcschemes/xcschememanagement.plist
