LesTaxinomes.xcworkspace/xcuserdata/pierreloup_perso.xcuserdatad/WorkspaceSettings.xcsettings
LesTaxinomes.xcworkspace/xcuserdata/pierreloup_perso.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
LesTaxinomes.xcworkspace/xcuserdata/pierreloup_perso.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
