<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37D2E7D8144709ED0044EC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37D2E7F6144709EE0044EC3A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A5AC09E515DABF31000F9311</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
